<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Story Framer</title>
</head>

<body ng-app='madApp'>
    <div class="madlib-container" ng-controller="MyCtrl">
        <div class="smiley">
            <img src="mad-lib-happy-face.png">
        </div>
        <div class="logo">
            <img src="images.png">
            <h1>Fill out the fields below</h1>
        </div>
        <div ng-class="{fade:fade}" class="words" ng-show='generatedLib'>

            <form ng-submit="submitted=true; submit()" name="madLibForm" novalidate>
                <div class="input1">
                    <input type="text" name='maleName' onclick="this.select()" placeholder="Your name" ng-model="data.maleName" required>
                    <p ng-if="submitted && madLibForm.maleName.$error.required">This field is required</p>

                    <input type="text" name='cityName' onclick="this.select()" placeholder="City name" ng-model="data.cityName" required>
                    <p ng-if="submitted && madLibForm.cityName.$error.required">This field is required</p>

                    <input type="text" name='foodType' onclick="this.select()" placeholder="Food type" ng-model="data.foodType" required>
                    <p ng-if="submitted && madLibForm.foodType.$error.required">This field is required</p>

                    <input type="text" name='adjective' onclick="this.select()" placeholder="Adjective" ng-model="data.adjective" required>
                    <p ng-if="submitted && madLibForm.adjective.$error.required">This field is required</p>
                </div>

                <div class="input2">
                    <input type="text" name='strangeLocation' onclick="this.select()" placeholder="Strange location" ng-model="data.strangeLocation" required>
                    <p ng-if="submitted && madLibForm.strangeLocation.$error.required">This field is required</p>

                    <input type="text" name='fictionalCharacter' onclick="this.select()" placeholder="Fictional character" ng-model="data.fictionalCharacter" required>
                    <p ng-if="submitted && madLibForm.fictionalCharacter.$error.required">This field is required</p>

                    <input type="number" name='number' onclick="this.select()" placeholder="Number" ng-model="data.number" required>
                    <p ng-if="submitted && madLibForm.number.$error.required">This number is required</p>

                    <input type="text" name='color' onclick="this.select()" placeholder="Color" ng-model="data.color" required>
                    <p ng-if="submitted && madLibForm.color.$error.required">This field is required</p>

                </div>

                <button type="submit" value="Generate MadLib!">See Story</button>
            </form>
        </div>
        <div ng-class="{fadeIn:fadeIn}" class="results" ng-show='!generatedLib'>

            <p><span class="word">{{data.maleName}}</span> just moved to <span class="word">{{data.cityName}}</span> and heard that the <span class="word">{{data.foodType}}</span> scene was <span class="word">{{data.adjective}}</span>. <span class="word">{{data.maleName}}</span>                decided to checkout the <span class="word">{{data.foodType}}</span> scene with some friends he met at a <span class="word">{{data.strangeLocation}}</span>.</p>

            <p>Off they went to have some <span class="word">{{data.adjective}}</span> <span class="word">{{data.foodType}}</span> when without warning they ran into <span class="word">{{data.fictionalCharacter}}</span>. <span class="word">{{data.fictionalCharacter}}</span>                told them they should check out this new <span class="word">{{data.foodType}}</span> place that they thought was really <span class="word">{{data.adjective}}</span>. </p>

            <p>Thinking this was completely normal <span class="word">{{data.maleName}}</span> said "Okay let's go!" and his {{data.number}} friends followed. <span class="word">{{data.maleName}}</span> , <span class="word">{{data.fictionalCharacter}}</span>                and friends had a great evening eating <span class="word">{{data.foodType}}</span>.</p>

            <p>Suddenly his surroundings turned <span class="word">{{data.color}}</span> and <span class="word">{{data.maleName}}</span> woke up in a daze not sure why he was craving <span class="word">{{data.foodType}}</span> and <span class="word">{{data.liquid}}</span>.</p>

            <p>The End!</p>

            <button type="button" ng-click="reset()">Start Over</button>
        </div>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-animate.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="madApp.js"></script>
</body>

</html>